# Python
__pycache__/
.pytest_cache
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/


# Environment / secrets
.env
.env.*

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
logs/
*.log

# RL outputs
checkpoints/
runs/
models/

# Data
data/
*.npz
*.npy
*.pt
*.pth

# Jupyter
.ipynb_checkpoints/

# Docker
docker-compose.override.yml